#jumbo{
    height: 600px;
    background-image: url("https://cdn.dribbble.com/users/1787323/screenshots/7123758/media/5c2b6b54ae3d5eabd56679e63ed83eaa.png?compress=1&resize=1200x900");
}
.connect-icon{
    height: 50px;
    width: 50px;
}
.main-par{
    width: 98%;
}
.card-img-top{
    height: 200px;
}
.connect-me{
    height: 400px;
    width: 400px;
}
#main-card{
    border-style: none;
    background: #ffffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
h1{
    font-family: 'Dela Gothic One', cursive;
}
p{
    font-family: 'Dancing Script', cursive;
}
h2{
    font-family: 'Bree Serif', serif;
}